.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
    "h h"
    "n c";
    font-family: "Kanit" ,serif;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  
}
.app-wrapper-content{
  
    grid-area: c;
    background-color: #27272c;
    /*background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );*/
    
}

