.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-areas:
    "h h"
    "n c";
    font-family: serif;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content{
  
    grid-area: c;
    background-color: rgba(252, 38, 206, 0.247);
  
}

